:root {
  --background-color: #41d7c9;
}

.row-header {
  margin: 0px auto;
  padding: 0px auto;
}

.row-content {
  margin: 0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}

.footer {
  background-color: var(--background-color);
  margin: 0px auto;
  padding: 20px 0px 20px 0px;
}
.jumbotron {
  padding: 70px 30px 70px 30px;
  margin: 0px auto;
  background: #9575cd;
  color: floralwhite;
}

address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f;
}

.navbar-dark {
  background-color: var(--background-color);
}

.page-enter {
  opacity: 0.01;
  transform: translateX(-100%);
}

.page-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: all 300ms ease-in;
}

.page-exit {
  opacity: 1;
  transform: translateX(0%);
}

.page-exit-active {
  opacity: 0.01;
  transform: translateX(100%);
  transition: all 300ms ease-out;
}

a {
  text-decoration: none !important;
  color: white;
}

@media only screen and (max-width: 576px) {
  .hidden {
    display: none !important;
  }
  .input-group {
    width: 50% !important;
  }
}

button {
  background-color: var(--background-color) !important;
  margin-left: 10px !important;
}

.input-group {
  width: 30%;
}

.form-control {
  border-radius: 5px !important;
}

.dropdown-item {
  width: 85% !important;
  margin-bottom: 5px !important;
}

.css-link-dept {
  color: black;
}
